<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>



<%= render 'layouts/user_left', book:@book %>




<div class='col-md-8 offset-md-1'>
<h2>Book detail</h2>
<table class="table">
<tbody>
  <tr>
    <td>
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'default-image', size: "100x100" %>
      <% end %>
      <br>
      <%= link_to @user.name, user_path(@book.user) %>
    </td>
    <td>
      <%= link_to @book.title, book_path(@book) %>
    </td>
    <td>
      <%= @book.body %>
    </td>
  <% if @book.user == current_user %>
    <td>
        <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>
        
    </td>
    <td>
        <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %>
    </td>
  <% else %>
  <% end %>
    
  
  </tr>
</tbody>
</table>